

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="APIREST De un catalogo de biciletas ficticio"
    />
    <meta
      name="keywords"
      content="api apirest bicicletas api-bicicletas api-bikes"
    />
    <meta name="author" content="FCO-GT" />
    <link rel="canonical" href="bikes-api.onrender.com" />
    <title>GT-Bikes</title>
    <!-- BULMA CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
    />
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/style.css" />
    <!-- HIGHLIGHT CSS -->
  </head>
  <body>

    <!-- Navbar -->
    <nav
      class="navbar mx-5"
      role="navigation"
      aria-label="navegaci칩n principal"
    >
      <div class="navbar-brand mt-2 mb-2">
        <a class="navbar-item is-size-3 has-text-primary" href="/">
          GT-Bikes
        </a>
        <a
          role="button"
          class="navbar-burger has-text-white"
          data-target="navMenu"
          aria-label="men칰"
          aria-expanded="false"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="/" class="navbar-item is-tab">
            Inicio
          </a>
          <a href="/docs" class="navbar-item is_tab">
            Documentaci칩n
          </a>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a
              href="https://github.com/fco-gt/bikes-api"
              target="_blank"
              class="button is-primary"
            >
              <strong>GitHub</strong>
            </a>
          </div>
        </div>
      </div>
    </nav>

    <!-- Hero -->
    <main>
      <section class="hero is-primary">
        <div class="hero-body has-text-centered">
          <h1 class="title mb-2">GT-Bikes APIREST</h1>
          <p class="subtitle">API para un catalogo ficticio de bicicletas</p>
        </div>
      </section>

      <section
        class="section is-flex is-flex-direction-column is-align-items-center is-justify-content-center"
      >
        <p class="subtitle is-5">
          Aqu칤 encontrar치s la documentaci칩n de la APIREST de GT-Bikes, un
          catalogo ficticio de bicicletas.
          <br />
          Puedes ver la documentaci칩n de la API en la secci칩n de
          <a href="/docs" class="has-text-primary">documentaci칩n</a>.
          <br />
          Tambi칠n puedes ver el c칩digo fuente en
          <a
            href="https://github.com/fco-gt/bikes-api"
            target="_blank"
            class="has-text-primary"
          >GitHub</a>.
        </p>
        <p class="subtitle">춰Gracias por visitar la API! 游</p>
      </section>

      <section class="hero">
        <div class="hero-body">
          <section class="section">
            <div class="container">
              <h2 class="title is-5">Ejemplo de la API</h2>
              <div class="content">
                <p>Aqu칤 puedes ver un ejemplo de los datos de la
                  <strong class="has-text-primary">API GT-Bikes:</strong></p>
                  <div class="field has-addons">
                  <div class="control is-expanded">
                    <input class="input is-primary is-rounded" type="text" placeholder="https://bikes-api.onrender.com/api/bikes/" readonly={{true}}>
                  </div>
                  <div class="control">
                    <button class="button is-info">
                      GET
                    </button>
                  </div>
                </div>
                <pre class="prettyprint lang-js" style="border-radius: 10px;"><code>[
  {
    "id": 1,
    "name": "Monta침a Master 5000",
    "description": "La Monta침a Master 5000 es una bicicleta dise침ada para dominar cualquier sendero Con un cuadro de aluminio ultraligero, suspensi칩n delantera ajustable y frenos de disco hidr치ulicos, esta bicicleta ofrece un rendimiento excepcional en terrenos desafiantes Sus 27 velocidades garantizan un control total en cualquier situaci칩n",
    "price": 229990,
    "category": "bicicleta de monta침a",
    "age": "adulto",
    "stock": 5,
    "imageUrl": "https://bikes-api.onrender.com/bikes/1/imagen"
  },
  {
    "id": 2,
    "name": "Monta침a Mistress 5000",
    "description": "La Monta침a Mistress 5000 es una bicicleta dise침ada para mujeres que buscan dominar cualquier sendero Con un cuadro de aluminio ultraligero, suspensi칩n delantera ajustable y frenos de disco hidr치ulicos, esta bicicleta ofrece un rendimiento excepcional en terrenos desafiantes Sus 27 velocidades garantizan un control total en cualquier situaci칩n",
    "price": 249990,
    "category": "bicicleta de monta침a",
    "age": "adulto",
    "stock": 15,
    "imageUrl": "https://bikes-api.onrender.com/bikes/2/imagen"
  },
  {
    "id": 3,
    "name": "Cruiser Classic 2000",
    "description": " La Cruiser Classic 2000 combina el estilo vintage con la comodidad moderna Equipada con un cuadro de acero resistente, guardabarros cromados y un c칩modo sill칤n de cuero, esta bicicleta es perfecta para los paseos relajados por la ciudad Sus 3 velocidades internas ofrecen una conducci칩n suave y sin esfuerzo",
    "price": 210990,
    "category": "bicicleta de paseo",
    "age": "adulto",
    "stock": 6,
    "imageUrl": "https://bikes-api.onrender.com/bikes/3/imagen"
  },
  {
    "id": 4,
    "name": "Trailblazer Pro XT",
    "description": "La Trailblazer Pro XT es la elecci칩n de los aventureros audaces Con un cuadro de carbono ultraligero, suspensi칩n delantera y frenos de disco hidr치ulicos de alta gama, esta bicicleta ofrece un rendimiento excepcional en cualquier terreno Sus 29 velocidades proporcionan una amplia gama de opciones para conquistar cualquier ruta",
    "price": 214990,
    "category": "bicicleta de monta침a",
    "age": "adulto",
    "stock": 4,
    "imageUrl": "https://bikes-api.onrender.com/bikes/4/imagen"
  },
  {
    "id": 5,
    "name": "Cruiser Bella 2000",
    "description": "La Cruiser Bella 2000 combina el estilo vintage con la comodidad moderna Equipada con un cuadro de acero resistente, guardabarros cromados y un c칩modo sill칤n de cuero, esta bicicleta es perfecta para los paseos relajados por la ciudad Sus 3 velocidades internas ofrecen una conducci칩n suave y sin esfuerzo",
    "price": 235990,
    "category": "bicicleta de paseo",
    "age": "adulto",
    "stock": 3,
    "imageUrl": "https://bikes-api.onrender.com/bikes/5/imagen"
  },
  ]</code class="language-javascript"></pre>
              </div>
            </div>
          </section>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>GT-Bikes APIREST</strong> by
          <a href="" target="_blank" class="has-text-primary">FCO-GT</a>. The source code is licensed under the MIT License.
        </p>
      </div>
    </footer>

    <!-- HIGHLIGHT JS -->
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
  </body>
</html>